.fact-card {
  text-align: center;
  padding-top: 130px;
  height: 300px;
  flex-basis: 23%;
}

.card-1 {
  background: url("../../assets/post.svg") no-repeat top 20px center / contain;
  background-size: 90px;
}

.card-2 {
  background: url("../../assets/dollar.svg") no-repeat top 20px center / contain;
  background-size: 90px;
}

.card-3 {
  background: url("../../assets/person.svg") no-repeat top 20px center / contain;
  background-size: 90px;
}

.card-4 {
  background: url("../../assets/like.svg") no-repeat top 20px center / contain;
  background-size: 90px;
}

.team-card {
  text-align: center;
  padding-top: 25px;
  height: 350px;
  flex-basis: 23%;
}

.team-card-1 {
  border-radius: 13px;
  width: 100%;
  height: 148px;
  background: url("../../assets/dev.jpeg") no-repeat center / cover;
}

.team-card-2 {
  border-radius: 13px;
  width: 100%;
  height: 148px;
  background: url("../../assets/manager.jpeg") no-repeat center / cover;
}

.team-card-3 {
  border-radius: 13px;
  width: 100%;
  height: 148px;
  background: url("../../assets/analyst.jpeg") no-repeat center / cover;
}

.team-card-4 {
  border-radius: 13px;
  width: 100%;
  height: 148px;
  background: url("../../assets/designer.jpeg") no-repeat center / cover;
}

